{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}{{ article.title }}{% endblock %}

{% block page_content %}
<div class="">
    <h1>{{ article.title }}{% if current_user.can(Permission.MODERATE_COMMENTS) %}<a class="btn btn-danger btn=xs" href="{{ url_for('.delete_article', id=article.id) }}">删除</a>{% endif %}</h1>
</div>
<ul class="articles">
    <li class="article">
        <div class="article-thumbnail">
            <a href="{{ url_for('.user', username=article.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ article.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="article-content">
            <div class="article-date">{{ moment(article.timestamp).fromNow() }}</div>
            <div class="article-author">作者：<a href="{{ url_for('.user', username=article.author.username) }}">{{ article.author.username }}</a></div>
            <div class="article-body">
                {{ article.body | safe }}
            </div>
            <div class="article-footer">
                {% if current_user == article.author %}
                <a href="{{ url_for('.edit', id=article.id) }}">
                    <span class="label label-primary">编辑</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=article.id) }}">
                    <span class="label label-danger">Edit[Admin]</span>
                </a>
                {% endif %}
                    <span class="label label-primary">{{ article.comments.__len__() }}条评论</span>
                </a>
                <span class="label label-primary">{{ article.read_count }}次浏览</span>
            </div>
        </div>
    </li>
</ul>

{% if current_user.can(Permission.COMMENT) %}
<h4 id="comments">评论</h4>
<div class="comment-form">
    {{ wtf.quick_form(form) }}
</div>
{% else %}
<h4 id="comments">请登陆添加评论</h4>
{% endif %}
{% include "_comments.html" %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.article', fragment='#comments', id=article.id) }}
</div>
{% endif %}
{% endblock %}